@font-face {
    font-family: "Avenir-Black";
    src: url(https://github.com/akella/fonts/blob/master/Avenir/Avenir-Black.ttf) format("truetype");
}
@font-face {
    font-family: "Avenir-BlackOblique";
    src: url(https://github.com/akella/fonts/blob/master/Avenir/Avenir-BlackOblique.ttf) format("truetype");
}
@font-face {
    font-family: "Avenir-Book";
    src: url(https://github.com/akella/fonts/blob/master/Avenir/Avenir-Book.ttf) format("truetype");
}
@font-face {
    font-family: "Avenir-BookOblique";
    src: url(https://github.com/akella/fonts/blob/master/Avenir/Avenir-BookOblique.ttf) format("truetype");
}
@font-face {
    font-family: "Avenir-Heavy";
    src: url(https://github.com/akella/fonts/blob/master/Avenir/Avenir-Heavy.ttf) format("truetype");
}
@font-face {
    font-family: "Avenir-BookOblique";
    src: url(https://github.com/akella/fonts/blob/master/Avenir/Avenir-HeavyOblique.ttf) format("truetype");
}
@font-face {
    font-family: "Avenir-Light";
    src: url(https://github.com/akella/fonts/blob/master/Avenir/Avenir-Light.ttf) format("truetype");
}
@font-face {
    font-family: "Avenir-LightOblique";
    src: url(https://github.com/akella/fonts/blob/master/Avenir/Avenir-LightOblique.ttf) format("truetype");
}
@font-face {
    font-family: "Avenir-Medium";
    src: url(https://github.com/akella/fonts/blob/master/Avenir/Avenir-Medium.ttf) format("truetype");
}
@font-face {
    font-family: "Avenir-MediumOblique";
    src: url(https://github.com/akella/fonts/blob/master/Avenir/Avenir-MediumOblique.ttf) format("truetype");
}
@font-face {
    font-family: "Avenir-Roman";
    src: url(https://github.com/akella/fonts/blob/master/Avenir/Avenir-Romam.ttf) format("truetype");
}
@font-face {
    font-family: "Avenir-Oblique";
    src: url(https://github.com/akella/fonts/blob/master/Avenir/Avenir-Oblique.ttf) format("truetype");
}