body {
    font-family: Tahoma, sans-serif;
    font-size: 0.9em;
}

h2 {
	font: 1.6em Tahoma, sans-serif;
	color: black;
	margin-bottom: 10px;
	text-align: center;
}

h3 {
	font: 1.2em Tahoma, sans-serif;
	color: black;
	margin-bottom: 5px;
	text-align: left;
}

#page-wrap {
	background: white;
	min-width: 780px;
	max-width: 1260px;
	margin: 10px auto;
}

#header {
	height:80px;
	background: #adadad;
	margin: 0;
	text-align: center
}

#main-content {
	padding-left: 400px;
	padding-top: 10px;
}

#left-sidebar {
	width: 360px;
	height: 100%;
	float: left;
	margin-left: 5px;
}

#filter {
	margin-top: 25px;
}

.slider {
	width: 295px;
	vertical-align: middle;
	float: left;
	margin-left: 15px;
}

.slider-text {
	padding-left: 325px;
	vertical-align: middle;
}

.sliderValue {
	width: 25px; 
	text-align: center;
	font-size: 0.8em;
}

select {
	width: 350px;
}

#todRange {
	margin-top: 0;
	margin-left: 15px
}

input.time {
    width: 100px;
    height: 20px;
    font-size: 0.9em;
}

input {
    -webkit-border-radius: 3px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 3px;
    border: 1px solid #aaa;
    vertical-align: middle;
}

.mark {
	z-index: 1;
}

.point {
	fill: #00bfff;
	z-index: 2;
}

.point-text {
	color: black;
	font: 1.2em Tahoma, sans-serif;
}
